.hover-image {
  transition: transform 0.3s ease; /* Smooth transition for the scaling effect */
}

.hover-image:hover {
  transform: scale(1.1); /* Scale the image to 110% on hover */
}

img {
  max-width: 75%;
  display: block;
}

.img-row {
  display: flex;
  align-items: center;
  gap: 24px;
}

@media (max-width: 768px) {
  img {
    width: 100%;
    max-width: 150px;
    max-height: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  h1, h2, h3, h4, h5, h6, p, .judul {
    font-size: 1rem !important;
    text-align: center;
  }

  .img-row {
    flex-direction: column;
    align-items: center; /* agar gambar dan keterangan di tengah */
    gap: 12px;
    width: 100%;
  }
  .img-row img {
    margin-right: 0 !important;
    margin-bottom: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .img-row p {
    width: 100%;
    margin: 0;
    text-align: center;
    font-size: 1rem;
    padding: 0 8px;
  }
}
